body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

table {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1281c6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form > * {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

a.button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #0b496b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

#buttons {
    text-align: center;
}
